<div class="row scroll-stop" id="menu-row">
  <nav class="navbar navbar-default" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">patrikbackstrom.com</a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><a href="#contact">Development</a></li>
          <li><a href="#contact">About me</a></li>
          <li><%= link_to 'Posts', posts_path %></li>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>